header {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
  padding: 40px 24px;
}

nav {
  display: flex;
}

.hero {
  height: calc(100vh - 24px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroimg {
  position: absolute;
  z-index: -1;
  height: 100%;
  filter: blur(4px) saturate(0.5) contrast(0.5);
}

.cta {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}

.ctabutton {
  width: 100%;
  height: 40px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 120px 40px;
  background-color: #143950;
}

.feature {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #ec685b;
  font-weight: 800;
  color: white;
  text-align: center;
  padding: 80px;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }
}
