.modalbackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.dark {
  background-color: black;
  opacity: 0.5;
}

.clickable {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalcontainer {
  width: 400px;
  background-color: white;
  padding: 24px;
  border-radius: 4px;
}
