.navbar {
  padding: 24px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 16px lightgrey;
}

.logincontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilepicture {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
